<div class="footer">
  <div class="footer__wrapper">
    <section class="footer__contacts">
      <address class="footer__address">
        <p class="footer__contacts-address">Москва, Ленинградский пр-т, 36с28</p>
        <div class="footer__worktime">
          <p class="footer__worktime-days">ежедневно, кроме понедельника</p>
          <p class="footer__worktime-time">10:00 – 20:00</p>
        </div>
        <p class="footer__contacts-phone"><a href="tel:+74951234500">+7 (495) 123-45-00</a></p>
        <p class="footer__contacts-mail"><a href="mailto:info@dynamomuseum.ru">info@dynamomuseum.ru</a></p>
      </address>
    </section>

    <section class="footer__partners">
      <ul class="footer__partners-list">
        <li class="footer__partners-item"><a href="#"><img src="images/logo.svg" alt="Логотип музея Динамо"></a></li>
        <li class="footer__partners-item"><a href="#"><img src="images/dinamo.svg" alt="Логотип клуба Динамо"></a></li>
        <li class="footer__partners-item"><a href="#"><img src="images/vtb.svg" alt="Логотип ВТБ"></a></li>
      </ul>
    </section>

    <section class="footer__links">
      <ul class="footer__links-list">
        <li class="footer__links-item"><a href="#">Правила посещения Музея</a></li>
        <li class="footer__links-item"><a href="#">Публичная оферта</a></li>
        <li class="footer__links-item"><a href="#">Политика конфиденциальности</a></li>
        <li class="footer__links-item"><a href="#">Часто задаваемые вопросы</a></li>
        <li class="footer__links-item"><a href="#">Форма обратной связи</a></li>
      </ul>

      <ul class="footer__social">
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg width="22" height="22" viewBox="0 0 22 22" aria-hidden="true">
              <use class="main-nav__icon-menu" href="/images/sprite_auto.svg#fb">
              </use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg width="22" height="13" viewBox="0 0 22 13" aria-hidden="true">
              <use class="main-nav__icon-menu" href="/images/sprite_auto.svg#vk">
              </use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">
            <svg width="19" height="19" viewBox="0 0 19 19" aria-hidden="true">
              <use class="main-nav__icon-menu" href="/images/sprite_auto.svg#inst">
              </use>
            </svg>
          </a>
        </li>
      </ul>
    </section>

    <section class="footer__copyright">
      <p>2023&nbsp;&copy; АНО Выставочный центр &laquo;Музей &lsquo;&rsquo;Динамо&rsquo;&rsquo;&raquo;</p>
      <p>Разработка&nbsp;&mdash; <a href="https://museumplus.ru" target="_blank" rel="noopener noreferrer">Музей
          Плюс</a>, 2023</p>
    </section>
  </div>
</div>
