<header class="header">
  <div class="header__wrapper">
    <nav class="main-nav">
      <a href="index.html" class="header__logo">
        <img src="/images/logo.svg" alt="Логотип музея Динамо" width="150" height="118">
      </a>

      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item"><a href="about.html" class="main-nav__link">О музее</a></li>
          <li class="main-nav__item"><a href="media.hhtml" class="main-nav__link">Медиатека</a></li>
          <li class="main-nav__item"><a href="news.html" class="main-nav__link">Новости</a></li>
          <li class="main-nav__item"><a href="contacts.html" class="main-nav__link">Контакты</a></li>
        </ul>

        <button class="contrast-version" type="button">
          <div class="contrast-version__text">Обычная версия</div>
          <svg width="34" height="34" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 18C8.20914 18 10 16.2091 10 14C10 11.7909 8.20914 10 6 10C3.79086 10 2 11.7909 2 14C2 16.2091 3.79086 18 6 18Z"
                  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M18 18C20.2091 18 22 16.2091 22 14C22 11.7909 20.2091 10 18 10C15.7909 10 14 11.7909 14 14C14 16.2091 15.7909 18 18 18Z"
                  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M10 14L10.211 13.894C10.7665 13.6162 11.379 13.4716 12 13.4716C12.621 13.4716 13.2335 13.6162 13.789 13.894L14 14M19 6L21.838 12.623C21.9448 12.872 21.9999 13.1401 22 13.411V14M5 6L2.162 12.623C2.05532 12.8717 2.00021 13.1394 2 13.41V14"
                  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>

        <button class="header__btn btn">Купить билет</button>
      </div>

      <button class="main-nav__toggle">
        <span class="visually-hidden">Меню</span>
        <svg class="main-nav__icon" width="32" height="32" viewBox="0 0 40 32" aria-hidden="true">
          <use class="main-nav__icon-menu" width="32" height="32" href="/images/sprite_auto.svg#icon-menu">
          </use>
          <use class="main-nav__icon-cross" href="/images/sprite_auto.svg#icon-cross"></use>
        </svg>
      </button>
    </nav>
  </div>
  {% if currentPage == 'about' %}
  <ul class="header__subnav">
    <li class="header__subnav-item"><a href="#section-1">история</a></li>
    <li class="header__subnav-item"><a href="#section-2">музей сегодня</a></li>
    <li class="header__subnav-item"><a href="#section-3">кафе</a></li>
    <li class="header__subnav-item"><a href="#section-4">сувениры</a></li>
    <li class="header__subnav-item"><a href="#section-5">карта музея</a></li>
    <li class="header__subnav-item"><a href="#section-6">команда</a></li>
  </ul>
  {% endif %}
</header>
