---
title: ВХОДНЫЕ БИЛЕТы на постоянную экспозицию и экскурсии
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="textpage">
  <div class="textpage__wrapper">
    <article class="textpage__text">
      <header class="textpage__text-head  textpage__text-head--3-col">
        <h2 class="section-title">{{title}}</h2>
      </header>

      <div class="textpage__text-content">
        <p>Входные билеты поступают в&nbsp;продажу на&nbsp;сайте за&nbsp;две недели до&nbsp;даты посещения. Приобрести
          электронный билет можно и&nbsp;в&nbsp;день посещения, но&nbsp;лучше делать это заранее: количество билетов
          на&nbsp;каждый день ограничено. Билеты можно приобрести и&nbsp;в&nbsp;кассах музея в&nbsp;день
          посещения&nbsp;&mdash; в&nbsp;порядке живой очереди и&nbsp;только на&nbsp;текущий день.</p>

        <p>Льготные и&nbsp;бесплатные билеты тоже можно приобрести на&nbsp;сайте. Посетителю с&nbsp;льготным или
          бесплатным билетом необходимо иметь при себе <a href="#">документ, подтверждающий его право
            на&nbsp;льготу</a>.</p>

        <div class="textpage__cards">
          <div class="textpage__card">
            <table>
              <tr>
                <td>Основная категория</td>
                <td><strong>400&nbsp;₽</strong></td>
              </tr>
              <tr>
                <td>Льготная категория</td>
                <td><strong>200&nbsp;₽</strong></td>
              </tr>
              <tr>
                <td>Специальная категория</td>
                <td><strong>0&nbsp;₽</strong></td>
              </tr>
            </table>
            <button class="button" rel="qtickets" data-event-id="66506" type="button">билет в музей</button>
          </div>
          <div class="textpage__card">
            <p>Туры по&nbsp;экспозиции проходят по&nbsp;расписанию на&nbsp;ежедневной основе. <strong>Экскурсия
                не&nbsp;включает входной билет, его необходимо приобретать отдельно.</strong> Если вы&nbsp;хотите узнать
              детали о&nbsp;программе экскурсий:
            </p>
            <a class="textpage__card-phone" href="tel:+78003021923">8 (800) 302-19-23</a>

            <button class="button" rel="qtickets" data-event-id="68817" type="button">экскурсия</button>
          </div>
        </div>
      </div>
    </article>

    <article class="textpage__text">
      <header class="textpage__text-head  textpage__text-head--3-col">
        <h2 class="section-title">льготная категория</h2>
      </header>

      <div class="textpage__text-content">
        <ul>
          <li>дети от 14 до 17 лет включительно, студенты ВУЗов РФ (независимо от формы обучения)</li>
          <li>дети от 6 до 16 лет</li>
          <li>члены Общества «Динамо»</li>
        </ul>
      </div>
    </article>

    <article class="textpage__text">
      <header class="textpage__text-head  textpage__text-head--3-col">
        <h2 class="section-title">бесплатная категория</h2>
      </header>

      <div class="textpage__text-content">
        <ul>
          <li>дети в возрасте до 6 лет включительно</li>
          <li>ветераны ВОВ</li>
          <li>неработающие инвалиды I и II групп, инвалиды детства, с одним сопровождающим</li>
          <li>ветераны боевых действий и лица, приравненные ним</li>
          <li>военные срочной службы</li>
          <li>дети-сироты и дети, оставшиеся без попечения родителей, дети-инвалиды</li>
          <li>престарелые граждане, оставшиеся на попечении государства в домах-интернатах для инвалидов и престарелых
          </li>
          <li>работники музеев РФ и члены ИКОМ</li>
          <li>представители СМИ</li>
          <li>ветераны Общества «Динамо»</li>

        </ul>
      </div>
    </article>
  </div>
</section>

<section class="faq">
  <div class="faq__wrapper  faq__wrapper--no-pt">
    <h2 class="faq__title section-title">часто задаваемые вопросы
      по билетам</h2>

    <section class="faq__content">
      <div class="accordion" data-accordion="parent" data-single data-close-inner>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">Вы
              предоставляете льготы?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis
                impedit ab
                aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis
                accusantium iusto distinctio!</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">Нужно
              распечатывать электронный билет?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis
                impedit ab
                aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis
                accusantium iusto distinctio!</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">Нужно
              обменивать электронный билет в кассе на бумажный?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis
                impedit ab
                aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis
                accusantium iusto distinctio!</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">На сайте
              билеты
              продаются только заранее, или электронный билет можно купить и в день посещения?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis
                impedit ab
                aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis
                accusantium iusto distinctio!</p>
            </div>
            <div class="accordion" data-accordion="parent" data-single>
              <div class="accordion__element" data-accordion="element">
                <button class="accordion__button" type="button" data-accordion="button">Открыть</button>
                <div class="accordion__content" data-accordion="content">
                  <div class="accordion__wrapper">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur
                      perspiciatis
                      impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint
                      laboriosam
                      reiciendis accusantium iusto distinctio!</p>
                  </div>
                </div>
              </div>
              <div class="accordion__element" data-accordion="element">
                <button class="accordion__button accordion__button" type="button"
                        data-accordion="button">Открыть</button>
                <div class="accordion__content" data-accordion="content">
                  <div class="accordion__wrapper">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur
                      perspiciatis
                      impedit ab aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint
                      laboriosam
                      reiciendis accusantium iusto distinctio!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">Я имею
              право
              бесплатно посетить музей. Я могу получить бесплатный билет только в кассе, или есть возможность оформить
              электронный билет на сайте?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque consequatur perspiciatis
                impedit ab
                aperiam neque corrupti nisi deleniti optio enim provident molestiae, quidem sint laboriosam reiciendis
                accusantium iusto distinctio!</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">Как
              посетить
              музей с экскурсией?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Пожалуйста, предупредите о своем визите заранее, позвонив по номеру +7(495) 123-45-67, чтобы сотрудники
                музея
                встретили Вас и помогли в подъеме по лестницам. Также мы предлагаем индивидуальные посещения в
                сопровождении
                представителя отдела инклюзивных программ. Согласуйте свой визит за 1–2 дня. Тогда Вы сможете
                познакомиться с
                тактильными макетами, которые тщательно обрабатываются дезинфицирующими средствами.</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">У вас
              есть
              камера хранения?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt sunt placeat mollitia perferendis.
                Culpa
                dolor sunt repellat soluta aperiam dicta iure, cumque fugit voluptate. Laborum harum tempore eveniet eum
                cupiditate?</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">В музее
              работает гардероб?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt sunt placeat mollitia perferendis.
                Culpa
                dolor sunt repellat soluta aperiam dicta iure, cumque fugit voluptate. Laborum harum tempore eveniet eum
                cupiditate?</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">Как
              воспользоваться аудиогидом при самостоятельном осмотре экспозиции?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt sunt placeat mollitia perferendis.
                Culpa
                dolor sunt repellat soluta aperiam dicta iure, cumque fugit voluptate. Laborum harum tempore eveniet eum
                cupiditate?</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">Чтобы
              попасть в
              музейный магазин, мне нужен входной билет?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt sunt placeat mollitia perferendis.
                Culpa
                dolor sunt repellat soluta aperiam dicta iure, cumque fugit voluptate. Laborum harum tempore eveniet eum
                cupiditate?</p>
            </div>
          </div>
        </div>
        <div class="accordion__element" data-accordion="element">
          <h2 class="accordion__title"><button class="accordion__button" type="button" data-accordion="button">В музее
              есть
              кафе?</button></h2>
          <div class="accordion__content" data-accordion="content">
            <div class="accordion__wrapper">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt sunt placeat mollitia perferendis.
                Culpa
                dolor sunt repellat soluta aperiam dicta iure, cumque fugit voluptate. Laborum harum tempore eveniet eum
                cupiditate?</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<script type="text/javascript" src="https://qtickets.ru/js/openapi"></script>

{% endblock %}
