.news__slide {
	// img ~ * {
	// 	// height: 0;
	// 	opacity: 0;
	// 	transition: opacity 0.3s ease-in-out;
	// }
	padding-bottom: 50px;

	p {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&.swiper-slide-active {
		// img ~ * {
		// 	// height: auto;
		// 	opacity: 1;
		// }

		p {
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
		}
	}

	img {
		margin-bottom: 28px;
		border-bottom-right-radius: 20px;

		@include mobile {
			margin-bottom: 15px;
		}
	}

	a {
		display: block;
		color: $blue-main;
		text-decoration: none;

		p {
			color: $black;

			@include mobile {
				display: none;
			}
		}
	}

	h2 {
		margin: 0;
		margin-bottom: 20px;
		font-size: size(22px);
		line-height: 91%;
		text-decoration: underline;

		@include mobile {
			margin-bottom: 5px;
			font-size: size(16px);
			line-height: 110%;
			text-decoration: none;
		}
	}
}

.news__date {
	margin-bottom: 33px;
	color: $green;
	font-size: size(17px);
	line-height: 118%;

	@include mobile {
		font-size: size(12px);
		margin-bottom: 10px;
	}
}
