$mobile: 767;
$tablet: 768;
$large: 1023;
$desktop: 1280;

$fz-default: 16px;

$blue-main: #192464;
$green: #6fb1bf;
$cream: #e5e3db;
$black: #1d1e22;

$t-font: 'Roboto', Arial, sans-serif;
$s-font: 'Sofia Sans', sans-serif;
$b-font: 'Rainer', sans-serif;
